Package: com.swiftyper.wechatredenvelop
Name: WeChatRedEnvelop
Depends: mobilesubstrate
Version: 0.1.2
Architecture: iphoneos-arm
Description: 微信抢红包插件
Maintainer: 请叫我小锅
Author: 请叫我小锅
Section: http://www.swiftyper.com
