Package: com.swiftyper.wechatredenvelop
Name: WeChatRedEnvelop
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: This tweak can't make you rich!
Maintainer: wordbeyond
Author: wordbeyond
Section: http://www.swiftyper.com
