<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://7xqonv.com1.z0.glb.clouddn.com/WeChat.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cncn.xinlvtong.inhouse.test</string>
				<key>bundle-version</key>
				<string>6.5.2.34</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>微信抢红包版</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
